{% extends '::addarticle.html.twig' %}

{% block title %}Ajouter{% endblock %}


{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/navBarStyle.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/AdAddStyle.css') }}" />
{% endblock %}

{% block navigation %}
    <div id="nav">
        <ul>
            <li ><a  class="logo" href="#home">AuPetitCoin</a></li>
            <li ><a  href="http://localhost:8000/adsite/addarticle">DEPOSER UNE ANNONCE</a></li>
            <li ><a  href="http://localhost:8000/adsite/welcome">OFFRES</a></li>
            <li ><a  href="#about">MES ANNONCES</a></li>
            <li  class="connect"><a id="nav"href="http://localhost:8000/adsite/login">Mon compte</a></li>
        </ul>
    </div>
{% endblock %}

{% block body %}

    <div id="main">
<center>
        <div id="block_form">
            <h1>Ajouter une annonce</h1>
            {{form(form, {'attr' : {'novalidate' : 'novalidate'}})}}
            <form action="{{ path('test_homepage') }}" onclick="return confirm('Etes-vous sûr de vouloir annuler ?')">
                <input type="submit" value="Annuler" />
            </form>
        </div>

</center>

    </div>
{% endblock %}