{% extends '::base.html.twig' %}

{% block body %}
    formulaire :
    {{form(form)}}
    {{ pseudo }}
    Liste des produits :
    {% for produit in produits %}
        {{ produit.nom }}</<br>
        {{ produit.description }}
        {{ produit.prix }}
    {% endfor %}
{% endblock %}
{% block navigation %}
    <ul>
        <li><a href="#">xx</a></li>
        <li><a href="#">xx</a></li>
        <li><a href="#">xx</a></li>
    </ul>
{% endblock %}


