{% extends '::WelcomePage.html.twig' %}


{% block title %}
    Welcome
{% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/navBarStyle.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/offerStyle.css') }}" />
{% endblock %}

{% block navigation %}
    <div id="nav">
        <ul>
            <li><a class="logo" href="#home">AuPetitCoin</a></li>
            <li><a href="http://localhost:8000/adsite/addarticle">DEPOSER UNE ANNONCE</a></li>
            <li><a href="http://localhost:8000/adsite/welcome">OFFRES</a></li>
            <li ><a  href="{{ path('my_account') }}">MES ANNONCES</a></li>
            <li class="connect"><a id="nav" href="http://localhost:8000/adsite/login">Mon compte</a></li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="title">
            {{ article.title }}
        </div>
        <div class="pic_cont">

        <img
             src="{{ asset((article.picture|first).path) }}">

        </div>
        <div id="line_scroll_photo">

            {% for pic in article.picture %}
                <img width="158" heigth="158"
                     src="{{ asset(pic.path) }}">
            {% endfor %}
        </div>
        <div id="line">
            <div class="lineg">
                Prix
            </div>
            <div class="lined">
                {{ article.price }} €
            </div>
        </div>
        <div id="line">
            <div class="lineg">
                Catégorie
            </div>
            <div class="lined">
                {{ article.category }}
            </div>
        </div>
        <div id="line">
            <div class="lineg">
                Lieu
            </div>
            <div class="lined">
                {{ article.place }}
            </div>
        </div>
        <div id="line_description">
            <div id="line_pad">
            Description  :</br></br>
            {{ article.description }}
            </div>
        </div>
    </div>

{% endblock %}