{% extends '::WelcomePage.html.twig' %}


{% block title %}
    Welcome
{% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/navBarStyle.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/welcomeStyle.css') }}"/>
{% endblock %}

{% block navigation %}
    <div id="nav">
        <ul>
            <li ><a  class="logo" href="{{ path('test_homepage') }}">AuPetitCoin</a></li>
            <li ><a  href="{{ path('add_article') }}">DEPOSER UNE ANNONCE</a></li>
            <li ><a  href="{{ path('test_homepage') }}">OFFRES</a></li>
            <li ><a  href="{{ path('my_account') }}">MES ANNONCES</a></li>
            <li  class="connect"><a id="nav"href="{{ path('test_login') }}">Mon compte</a></li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <p>Bienvenue {{ user }}</p>
    </br>
    <div id="main">
        <div id="block_form">
            <div id="ad">
                <div id="main_tile">Annonces</div>
                <ul>
                    {% for article in article_tab %}
                        <li>
                            <a href="http://localhost:8000/adsite/offer/{{ article.id }}" class="select_link">
                            <div id="elt">
                                <div class="asideg">
                                    {% for pic in article.picture %}
                                <img width="158" heigth="158"
                                     src="{{ asset(pic.path) }}">
                                    {% endfor %}
                                </div>
                                <div class="asided">
                                    <div class="title">{{ article.title }}</div></br>
                                    {{ article.category }}</br>
                                    {{ article.place }}</br></br>
                                    <div class="price"> {{ article.price }} €</div></br>
                                </div>
                            </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

{% endblock %}