{% extends '::login.html.twig' %}


{% block title %}
    Login
{% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/navBarStyle.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/loginStyle.css') }}" />
{% endblock %}

{% block navigation %}
    <div id="nav">
        <ul>
            <li ><a  class="logo" href="{{ path('test_homepage') }}">AuPetitCoin</a></li>
            <li ><a  href="{{ path('add_article') }}">DEPOSER UNE ANNONCE</a></li>
            <li ><a  href="{{ path('test_homepage') }}">OFFRES</a></li>
            <li ><a  href="{{ path('my_account') }}">MES ANNONCES</a></li>
            <li  class="connect"><a id="nav"href="{{ path('test_login') }}">Mon compte</a></li>
        </ul>
    </div>

{% endblock %}

{% block body %}
    <div id="main">
        <center>
        <div id="block_form">
                <h1>CONNEXION</h1>
                {{form(form)}}
            </div>
            <div id="block_form">
                <h1>INSCRIPTION</h1>
                {{form(form_inscr)}}
            </div>
        </center>
    </div>
{% endblock %}